<html>
  <head>
  </head>
  <style>

    .header{
      color: pink;
      background-color: blue;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .content{
      background-color: pink;
      color: blue;
      padding-top: 20px;
      font-size: 20px;
      padding-bottom: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    body{
      background-size: 100px 200px;
      background-image: url('<%= image_path 'reese.png' %>')
    }

    .center{
      text-align: center;
    }

    .right{
      text-align: right;
    }

    .left{
      text-align: left;
    }

  </style>
  <body>

    <div class="header center">
      <h1>Reese's page waddup girl</h1>
    </div>

    <div class="content left">
      <ul>
        <li>
          my name is reese gyllenhammer :)
        </li>
        <li>
          i am from santa cruz california hehe
        </li>
        <li>
          im a freshman but maybe if i have to be a senior to win ur heart i can be a sophomore u know wut im saying
        </li>
        <li>
          a fun fact is that f*kn luvvv ranch dressing like its forreal my fav food
        </li>
        <li>
          the thing im most excited about for this class is the projects. i hav a lot of expirience with other web frameworks and im excited to compare them to ruby by making things on my own
        </li>
      </ul>
    </div>

  </body>
</html>
